doctype html
html(lang="zh-Hans" ng-app="zifferArchive")
    head
        title Ziffer Projekt Archive
        meta(charset="utf-8")
        link(rel='stylesheet', href='css/style.css')
        link(rel='stylesheet', href='css/font-awesome.min.css')
        link(rel='stylesheet', href='http://fonts.useso.com/css?family=Playball|Julius+Sans+One')
        script(src='js/angular.min.js')
        script(src='js/global.js')

    body

        .container(ng-controller="TrackListController")
            .logo
                h1 Ziffer Projekt 
                h2 
                    span Archive | 
                    span 归档


            .track(ng-repeat="track in tracks" ng-class="{active: curState.track===track._id}")
                .track-box
                    .track-front(ng-click="curState.track=track._id")
                        img(ng-src='images/covers/{{track._id}}.jpg')
                        .track-info 
                            .name(title="{{track.name}}") {{track.name}}
                            .artist(title="{{track.artist}}") {{track.artist}}
                            .origin(title="{{track.origin}}") {{track.origin}}
                    .track-back(ng-mouseleave="curState.track=-1")
                        .track-staff
                            .noter {{track.workStaff.noter.join(', ')}}
                            .proofer {{track.workStaff.proofer.join(', ')}}
                            .maker {{track.workStaff.maker.join(', ')}}
                            .format {{track.format.toUpperCase()}}
                        .track-download
                            img(ng-src='images/covers/{{track._id}}.jpg')
                            .hover
                            .download
                                i.fa.fa-download
                        .back-btn(ng-click="curState.track=-1")
                            i.fa.fa-reply
