doctype html
html(lang="zh-Hans" ng-app="zifferArchive")
    head
        title Ziffer Projekt Archive
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        link(rel='stylesheet', href='css/style.css')
        link(rel='stylesheet', href='css/font-awesome.min.css')
        link(rel='stylesheet', href='http://fonts.useso.com/css?family=Playball|Julius+Sans+One')
        script(src='js/jquery.min.js')
        script(src='js/angular.min.js')
        script(src='js/global.js')

    body(ng-controller="TrackListController")
        .container
            .logo(ng-class="{active: curState.track>0}")
                h1(ng-click="curState.track=-1" ng-mouseenter="showIntro=1" ng-mouseleave="showIntro=0") Ziffer Projekt 
                h2 
                    span.ng-hide-animate(ng-show="!openSearch") Archive | 
                    span.ng-hide-animate(ng-show="!openSearch") 归档
                    i.fa.fa-search(ng-class="{active: openSearch}", ng-click="toggleSearch()")
                .intro(ng-show="showIntro" ng-mouseenter="showIntro=1") <span>Ziffer Projekt</span> 是一项ACG简谱制作项目，这里留存此项目的归档曲谱。
                    i.fa.fa-caret-left

            .search.ng-hide-animate(ng-show="openSearch" ng-model="query")
                input.search-box(type="text", placeholder="搜索..." ng-model="query")


            .track(ng-repeat="track in tracks | orderBy:'_id':1 | searchTrack:query" ng-class="{active: curState.track===track._id}")
                .track-box
                    .track-front(ng-click="curState.track=track._id")
                        img(ng-src='images/covers/{{track._id}}.jpg')
                        .track-info 
                            .name(title="{{track.name}}") {{track.name}}
                            .artist(title="{{track.artist}}") {{track.artist}}
                            .origin(title="{{track.origin}}") {{track.origin}}
                    .track-back
                        .track-staff
                            .noter {{track.workStaff.noter.join(', ')}}
                            .proofer {{track.workStaff.proofer.join(', ')}}
                            .maker {{track.workStaff.maker.join(', ')}}
                            .format {{track.format.toUpperCase()}}
                        .track-download(ng-click="startDownload(track.filename)")
                            img(ng-src='images/covers/{{track._id}}.jpg')
                            .hover
                            .download
                                i.fa.fa-download
                        .back-btn(ng-click="curState.track=-1")
                            i.fa.fa-reply
            .footer &copy; 2014 Archie.
                br
                big(title="SPECIAL THANKS: Peter, Udon.") &hearts;

        .bg-hover
            img.ng-hide-animate(ng-repeat="track in tracks" ng-src="{{'images/bgs/'+ track._id +'.jpg'}}" ng-class="{'full-height': getImgClass()}" ng-show="curState.track === track._id")
            .hover

